<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="spirit.freewill">


    <!--允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--获取GSM（2g）、WCDMA（联通3g）等网络状态的信息  -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--获取sd卡写的权限，用于文件上传和下载-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!--推送所需的权限-->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name=".main.FreewillApplication"
        android:allowBackup="true"
        android:icon="@drawable/auther"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".menu.MenuActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".all.AllActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".all.TodayActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".all.HistoryActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".menu.ArticleActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".main.FreewillActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".webview.WebViewActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".webview.BrowserActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".will.WillActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>


        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>



        <service
            android:name=".service.NotifyService">
        </service>


        <activity android:name=".user.MyActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".about.AboutActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".number.MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".number.NineActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".number.TwoActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".number.EightActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".number.FourActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".number.SevenActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".number.SixActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".number.FiveActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".number.ThreeActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".number.OneActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>